<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>About</h5></mdb-card-title>
        
            <mdb-card-text> 
                I am a 20 year old software engineer, who enjoys programming, hanging out with friends, and investing, 
                and playing games in my free time.
                
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>Education</h5></mdb-card-title>
        
            <mdb-card-text> 

                I graduated from Mayfield Higshchool in May of 2017. I was apart 
                of the Information Technology and Programming class, which was a program
                that focused on programming and IT skill. 

                I plan on graduating from Kent State in May of 2020, with a Computer Science Degree.
                
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>Employment</h5></mdb-card-title>
        
            <mdb-card-text> 
                I currently work for Kent State's Residential Services as a software developer.
                I typically develop web application using Angular and the DotnetCore Framework.
                So far I have created two major applications for the university. One being a system
                for tracking temporary keys. The other being an app students use to checkout for
                winter break.
                I have also worked on various other projects, such as a kiosk used for printing temporary keys.
            </mdb-card-text>
            <a mdbBtn href="assets/letter.pdf" role="button" color="primary" mdbWavesEffect>Letter of Recommendation</a>
            </mdb-card-body>
    </mdb-card>
</div>