<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>About</h5></mdb-card-title>
        
            <mdb-card-text> 
                Originally Mayfield Village.
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>About</h5></mdb-card-title>
        
            <mdb-card-text> 
                <strong>Current Employment:</strong> Applicaiton Deveveloper For Kent State's Residential Services <br>
                <strong>Current Education:</strong> Computer Science Major at Kent State University. Graduation May 2020.
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>About</h5></mdb-card-title>
        
            <mdb-card-text> 
                <strong>Current Employment:</strong> Applicaiton Deveveloper For Kent State's Residential Services <br>
                <strong>Current Education:</strong> Computer Science Major at Kent State University. Graduation May 2020.
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>