<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>Capstone Project</h5></mdb-card-title>
        
            <mdb-card-text> 
                For my capstone class, I am currently developing a memorial website for Dr. Ken Batcher,
                a recently Deceased Kent State Professor. <br>
                <a href="https://mkotlan4.pythonanywhere.com/works">https://mkotlan4.pythonanywhere.com/works</a>
                (currently WIP site. Will be deployed by the end of the semester under the CS Department's Domain)
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>Software Engineering Project</h5></mdb-card-title>
        
            <mdb-card-text> 
                In my software engineering class, I helped developed an app called Routes Per Mile,
                 which was a blog that allowed you to post a route and comment on other people's routes <br>
                 <a href="https://github.com/DaemonsOfDelozier/RpM">https://github.com/DaemonsOfDelozier/RpM</a>
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>
<div class="pt-3">
    <mdb-card>
            <mdb-card-body>
            <mdb-card-title><h5>Wildplant ID - Application</h5></mdb-card-title>
        
            <mdb-card-text> 
                I worked with a botanist to develop an IOS app that is used for identifying plants in the wild. <br>
                <a href="https://apps.apple.com/us/app/wildplantid/id1420793902">https://apps.apple.com/us/app/wildplantid/id1420793902</a>
            </mdb-card-text>
            
            </mdb-card-body>
    </mdb-card>
</div>